

/* HEADER */


header {
  width: 100%;
  position: absolute;
  top : 0;
  left: 0;
}

.imageHeader {
  background-image: url("images/old-1130739_1920.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  float: left;
}

.blocHeader {
  border: 2px solid white;
  width: 600px;
  margin: auto;
  margin-top: 200px;
  height: 200px;
}
.textHeader {
  color: white;
  text-align: center;
  font-size: 60px;
}

.textHeader2 {
  font-size: 48px;
}

nav {
  height: 50px;
  width: 100%;
  list-style: none;
  background-color: #303F9F;
  float: left;
  text-transform: uppercase;
}

ul {
  margin: 0px 5% 0px 5%;
}

li {
  display: inline-block;
  line-height: 50px;
  color: white;
  width: 24%;
  text-align: center;
}

li:first-of-type {
  margin-left: 0px;
}

/* BODY */

.wrapper {
  margin: auto;
  width: 1000px;
  margin-top: 115vh;
}

.photoIntro {
  background-image: url("images/Photo le 08-06-2016 à 11.172.jpg");
  width: 388px;
  height: 500px;
  background-repeat: no-repeat;
  margin: auto;
}

.textIntro {
  margin: 50px 100px 50px 100px;
  font-size: 18px;
}

.primarySkills {
  width: 100%;
  height: 120px;
  margin-bottom: 70px;
}

.bigCircleDiv {
  width: 120px;
  height: 120px;
  float: left;
  margin-left: 320px;
  cursor: default;
}

.bigCircle {
	width: 120px;
	height: 120px;
	background-color: #FF9800;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}

.bigCircleDiv:first-child {
  margin-left: 0px;
  float: left;
}

.skills {
  margin: auto;
  float: left;
  width: 100%;
}

.bigCircleText {
  width: 120px;
  height: 120px;
  display: block;
  line-height: 180px;
  text-align: center;
}

.material-icons.md-48 { font-size: 75px; }

.smallCircleDiv {
  width: 100px;
  height: 100px;
  float: left;
}

.smallCircle {
  width: 100px;
	height: 100px;
	background-color: #FF9800;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.smallCircleText {
  line-height: 100px;
  text-align: center;
}

.bigCircleText:hover, .smallCircleText:hover {
  color: white;
}

.codeSecondarySkills .smallCircleDiv {
  float: left;
  margin-left: 200px;
}

.codeSecondarySkills .smallCircleDiv:first-child {
  margin-left: 0%;
}

.designSecondarySkills .smallCircleDiv:first-child, .languageSecondarySkills .smallCircleDiv:first-child {
  margin-left: 25%;
}

.designSecondarySkills {
  width: 100%;
  float: left;
  display: none;
}


.languageSecondarySkills {
  width: 100%;
  float: left;
  display: none;
}
.designSecondarySkills .smallCircleDiv, .languageSecondarySkills .smallCircleDiv  {
  float: left;
  margin-left: 30%;
}

.smallCircleDef {
  margin-top : 10px;
  text-align: justify;
}

.barreFormation {
  width: 700px;
  background-image: url("images/barre-recherche-2.jpg");
  height: 100px;
  margin: 380px 150px 0 150px;
  background-repeat: no-repeat;}

.formationButton {
  width: 26px;
  height: 26px;
  background-color: #FF9800;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}

.formationButtonDiv {
  margin-left: 150px;
  float: left;
  margin-top: 16px;
}

.formationButton:hover {
  background-color: black;
}

.contenuFormation1, .contenuFormation2, .contenuFormation3 {
  width: 100%
}

.imageFormation1 {
  background-image: url("images/forest-483207_1920.jpg");
  width: 70;
  margin: auto;
  height: 300px;
}

.imageFormation2 {
  background-image: url("images/floor-1256804_1920.jpg");
  width: 70;
  margin: auto;
  height: 300px;
}

.imageFormation3 {
  background-image: url("images/old-1130739_1920.jpg");
  width: 70;
  margin: auto;
  height: 300px;
}

.textFormation {
  margin-top: 30px;
}

.contenuFormation2 {
  display: none;
}

.contenuFormation3 {
  display : none;
}


/* FOOTER */

footer {
  width: 100%;
  bottom: 0;
  height: 650px;
  background-color: #3F51B5;
  position: relative;
  float: left;
  margin-left: -10px;
}

.footerWrapper {
  width: 1000px;
  margin: auto;
}

form {
  margin: 30px 0px 0px 0px;
  width: 650px;
  float: left;
  font-size: 24px;
}

.lignForm {
  width: 100%;
}

input, textarea {
  width: 500px;
  height: 40px;
  font-size: 20px;
  line-height: 45px;
  margin: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.footerWrapper h1, .footerWrapper h2 {
  text-align: center;
  color: white;
}

.footerWrapper h2 {
  font-size: 17px;
}

.infoContact {
  margin-top : 30px;
  width: 349px;
  float: left;
  font-size: 24px;
}

.messageForm {
  height: 200px;
  line-height : 10px;
  padding-top: 10px;
}

.submitForm {
  width: 515px;
  background-color: #FF9800;
  border: 0px;
  color: white;
  line-height: 35px;
  font-size: 25px;
  height: 55px;
}
